*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    min-height: 100vh;
    background: rgb(252, 151, 114);
    overflow: hidden;
}

.container{
    width: 90%;
    height: 100%;
    margin: auto;
}

.header{
    width: 100%;
    height: 60px;
    background: rgb(252, 151, 114);
}

.logo{
    float: left;
    line-height: 60px;
    margin-left: 100px;
}

.logo h1{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 2.5rem;
}

ul {
    float: right;
    margin-right: 100px;

}
ul li{
    display: inline-block;
    list-style: none;
    line-height: 60px;
}
ul li a{
    color:aliceblue;
    text-decoration: none;
    padding:10px 20px;
    text-transform: uppercase;
    
}

ul li a:hover{
    background: rgb(75, 26, 8);

}

.content{
    width: 100%;
    min-height: 100vh;
    background: coral;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.box{
    width: 400px;
    height: 500px;
    border: 5px solid white;
    margin-left: 100px;
    position: relative;
}

img{
    position: absolute;
    top: 14%;
    right: 50px;
    width: 700px;
    height: 600px;
    display: block;
    object-fit: cover;
    mix-blend-mode: screen;
    pointer-events: none;
}

.text{
    width: 720px;
    padding: 50px;
    color: white;
    position: absolute;
    background: coral;
    margin-left: 50px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.text h2{
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px 0;
}
.text h3{
    font-size: 1.5em;

}
.text p {
    line-height: 1.5;
}
.text a{
    color: blanchedalmond;
    text-decoration: none;
    background: rgb(75, 26, 8);
    padding: 10px 25px;
    display: inline-block;
    margin-top: 15px;

}
.text a:hover{
    background: rgb(77, 38, 24);
}

@media(max-width:1150px){
    ul{
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
        background: coral;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .logo{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

@media(max-width:920px){
    body{
        overflow: auto;
    }
    .box{
        margin-left: 0;
        font-size: 80%;
    }
    .content{
        justify-content: center;
    }
    .text{
        
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }
}